body{
    background-size:fixed;
    background-color:rgb(230, 240, 91);
}
.con{
    background-color:black;
    color:white;
    width:100%;
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.uff{
    position:fixed;
    top:20px;
    right:20px;
    cursor:pointer;
    z-index:1000;
}
#but{
    width:50px;
    height:auto;
    border-radius:50%;
}
.image{
    width:200px;
    height:auto;
    border-radius:50%;
    cursor:pointer;
}
.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5rem;
    margin-top:3rem;
}
.image:hover{
    border-color:black;
}
#pick{
    width:280px;
    height:auto;
    background-color:grey;
    color:white;
    font-size:40px;
    padding:5px;
    border-radius:10px;
}
.msg{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.hide{
    display:none;
}
#select{
    font-size:25px;
    font-weight:600;
    background-color:rgb(13, 124, 189);
    color:white;
    width:300px;
    height:40px;
}
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:5px;
}
.score{
    font-size:40px;
    font-weight:600;
    margin:10px
}

@media (max-width:768px){
    .buttons{
        flex-direction:column;
        align-items:center;
    }
    .choice image{
        width:120px;
    }
    .uff{
        top:10px;
        right:10px;
    }
}